.boost-link {
  padding: 90px 25px;
  background: $dark-violet url('../assets/bg-boost-mobile.svg') no-repeat top
    right;
  background-size: cover;

  .btn-default {
    width: 200px;
    margin: 20px auto 0 auto;
  }
}
