.footer {
  background-color: $very-dark-violet;
  padding: 20px;
  color: white;
  text-align: center;

  h2 {
    margin: 30px 0 50px 0;
  }

  &__item {
    margin-bottom: 40px;

    h4 {
      margin-bottom: 20px;
    }

    a {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  .social-medias {
    width: 60%;
    margin: 0 auto;
    @include flexEvenly;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 70px;

    &__data {
      @include flexEvenly;
      align-items: flex-start;
      flex: 1;
    }

    h2 {
      margin: 0;
      margin-right: 100px;
      text-align: left;
    }

    .social-medias {
      margin: 0;
      width: 200px;
    }
  }
}
