.header {
  width: 100%;
  margin-bottom: 50px;
  padding-top: 75px;

  .illustration-logo {
    height: 350px;
    margin-bottom: 30px;

    img {
      height: 100%;
    }
  }

  &__content {
    @include flexCenter;
    flex-direction: column;
  }
}

@media screen and (min-width: 425px) {
  .header .illustration-logo {
    transform: translateX(0);
    width: 100%;
    @include flexCenter;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 120px 0;
    margin: 0 auto;

    .illustration-logo {
      height: 350px;
    }
    &__content {
      width: 70ch;
    }
  }
}

@media screen and(min-width: 1440px) {
  .header {
    &__content {
      min-width: 45ch;
      align-items: flex-start;
    }
  }
}
