//primary colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

//shades
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

//other fixed values
$border-radius: 10px;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

//imports
@import './navbar.scss';
@import './header.scss';
@import './url-shortener.scss';
@import './statistics.scss';
@import './title-w-desc.scss';
@import './boost-link.scss';
@import './footer.scss';

//global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 35px;
}

a,
button,
p,
input {
  font-size: 18px;
  font-weight: 500;
}

a {
  color: $gray;
  text-decoration: none;
}

nav,
header {
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.btn-default {
  background-color: $cyan;
  border: none;
  padding: 10px 40px;
  border-radius: 100px;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  color: white;
}

.btn-secondary {
  font-weight: 700;
  color: white;
  background-color: $cyan;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .navbar__content,
  .statistics__content,
  .footer__content {
    width: 1100px !important;
  }

  nav,
  section,
  header,
  footer {
    @include flexCenter;
  }
}

//button animations

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
