.title-with-desc {
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  width: 100%;

  .white {
    color: white;
  }

  h1,
  p {
    width: 90%;
  }

  h1 {
    font-size: 40px;
    color: $very-dark-violet;
  }

  h2 {
    font-size: 28px;
  }

  p {
    color: $gray;
    margin: 25px 0;
  }
}

.title-with-desc.small {
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
    margin: 15px 0;
  }
}
