.url-shortener {
  @include flexEvenly;
  flex-direction: column;
  height: 150px;
  background: $dark-violet url('../assets/bg-shorten-mobile.svg') no-repeat 130% -10px;
  border-radius: $border-radius;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  padding: 20px;

  input {
    padding: 3px 5px;
    width: 100%;
  }

  .error-input {
    border: 2px solid $red;
  }

  .error-message {
    color: $red;
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 10px;
  }
}
